body {
  padding: 200px;
}
button {
  margin-top: 200px;
  line-height: 600px;
  font-weight: bold;
  padding: 0 400px;
  background: salmon;
  border: 10px solid black;
}
button:hover {
  background: lightsalmon;
}
