body { 
  text-align: center;
	width: 100%;
  height: 100%;
  padding: center;
  margin: 0px;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

#scene{border: 1px solid black;}